.contain {
  min-height: 100vh;
  height: 100vh;
  display: flex;
  flex-direction: column;
  width: 1700px;
}
.content {
  flex-grow: 1;
}
body {
  background:#f0f0f0;
  font-family: 'Open Sans', sans-serif;
}

* {
  box-sizing:border-box;
}

h2 {
  text-align:center;
}
.bor{
  display: grid;
  place-items: center;
  background-color: rgb(0,0,0,0.5);
  position: fixed ;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  .pop{
   width: 50%;
   min-width: 300px;
   padding: 16px 16px;
   border-radius: 4px;
   background-color: white;
  }
 
 }
.container {
  height:250px;
  margin:10% auto;
  position: relative;
  border-radius:16px;
  box-shadow:-1px 4px 6px 1px ;
}

