
<div class="contain">
  <app-navbarc></app-navbarc>
  <div class="content">
    <div class="row justify-content-evenly">
      <div class="col-3">
        <br>
        <h2 (click)="po()">Challenge</h2>
        <div class="container" style="text-align: center;">
          <div class="cover">
            <div class="timeline"><img src="https://avatar-ex-swe.nixcdn.com/song/2016/02/24/8/f/d/7/1456305669546_640.jpg" style="width: 350px; height: 150px; border-radius: 15px; margin-top: 10px;" ></div>
          </div>
          <br/>
          <div class="controls">
            <audio controls>
              <source src="assets/Gio.mp3" type="audio/mpeg">
            </audio>
          </div>
        </div>
      </div>
    </div></div>
    <!-- Modal Detail -->
    <div *ngIf="showp" class="bor">
      <div class="pop">
        <div class="modal-header">
          <h1 class="text-align-center center">Music Detail</h1>
          <button type="button" class="btn-close" (click)="cl()"></button>
        </div>
        <div class="modal-body">
          <div class="mb-3 row">
            <label for="input" class="col-sm-2 col-form-label">Music Name</label>
            <div class="col-sm-8">
              <input class="form-control" type="text" disabled />
            </div>
          </div>
          <div class="mb-3 row">
            <label for="input" class="col-sm-2 col-form-label">Actor Name</label>
            <div class="col-sm-8">
              <input  class="form-control" type="text" disabled />
            </div>
          </div>
          <div class="mb-3 row">
            <label for="input" class="col-sm-2 col-form-label"
              >Date Submitted</label
            >
            <div class="col-sm-8">
              <input  class="form-control" type="datetime" disabled />
            </div>
          </div>
          <div class="mb-3 row">
            <label for="input" class="col-sm-2 col-form-label">Colab singer</label>
            <div class="col-sm-8">
              <input  class="form-control" type="text" disabled />
            </div>
          </div>
          <div class="mb-3 row">
            <label for="input" class="col-sm-2 col-form-label">Producer</label>
            <div class="col-sm-8">
              <input  class="form-control" type="text" disabled />
            </div>
          </div>
          <div class="mb-3 row">
            <label for="input" class="col-sm-2 col-form-label">Tirtle</label>
            <div class="col-sm-8">
              <input  class="form-control" type="text" disabled />
            </div>
          </div>
          <button (click)="save()" type="button" class="btn btn-primary" style="margin-left: 500px;"><i class="bi bi-bookmark"></i></button>
        </div>
        <br />
      </div>
      <br />
    </div>
  <app-footer></app-footer>
</div>

