
<div class="contain">
  <app-navbarc></app-navbarc>
  <div class="content">
    <div class="row justify-content-evenly">
      <div class="col-4">
        <br>
        <h2>Ban Doi</h2>
        <div class="container">
          <div class="cover">
            <div class="timeline"></div>
          </div>
          <div class="controls">
            <div class="time">
              <span>1:37</span>
              <span>3:52</span>
            </div>
            <div class="pause">
              <div class="pause-icon"></div>
            </div>
            <div class="song">
              <div class="title">Karik</div>
              <div class="artist">GDucky</div>
            </div>
            <div class="direction">
              <div class="shuffle">
                <div class="fa fa-mail-forward"></div>
                <div class="fa fa-mail-forward flip"></div>
              </div>
              <div class="btn">
                <div class="fa fa-backward"></div>
              </div>
              <div class="btn">
                <div class="fa fa-forward"></div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div></div>
  <app-footer></app-footer>
</div>


